In [19]:
import pandas as pd
import numpy as np
import itertools

In [10]:
#dim_date

date_range = pd.date_range(start='1900-01-01', end='2050-01-01', freq='D')

dim_date = pd.DataFrame({
    'pk_date_id': range(1, len(date_range) + 1),
    'date': date_range,
    'day': date_range.day,
    'weekday': date_range.weekday + 1,  # Monday=1, Sunday=7
    'weekday_name': date_range.day_name(),
    'month': date_range.month,
    'monthname': date_range.month_name(),
    'quarter': date_range.quarter,
    'quartername': ["Q" + str(q) for q in date_range.quarter],
    'year': date_range.year,
    'monthyear': date_range.strftime('%m-%Y'),
    'isweekend': np.where(date_range.weekday >= 5, 'Weekend', 'Weekday'),
})

In [11]:
dim_date

,pk_date_id,date,day,weekday,weekday_name,month,monthname,quarter,quartername,year,monthyear,isweekend
0,1,1900-01-01,1,1,Monday,1,January,1,Q1,1900,01-1900,Weekday
1,2,1900-01-02,2,2,Tuesday,1,January,1,Q1,1900,01-1900,Weekday
2,3,1900-01-03,3,3,Wednesday,1,January,1,Q1,1900,01-1900,Weekday
3,4,1900-01-04,4,4,Thursday,1,January,1,Q1,1900,01-1900,Weekday
4,5,1900-01-05,5,5,Friday,1,January,1,Q1,1900,01-1900,Weekday
...,...,...,...,...,...,...,...,...,...,...,...,...
54783,54784,2049-12-28,28,2,Tuesday,12,December,4,Q4,2049,12-2049,Weekday
54784,54785,2049-12-29,29,3,Wednesday,12,December,4,Q4,2049,12-2049,Weekday
54785,54786,2049-12-30,30,4,Thursday,12,December,4,Q4,2049,12-2049,Weekday
54786,54787,2049-12-31,31,5,Friday,12,December,4,Q4,2049,12-2049,Weekday
54787,54788,2050-01-01,1,6,Saturday,1,January,1,Q1,2050,01-2050,Weekend

In [12]:
#dim_source_type
dim_source_type_data = {'pk_source_id':[-1, 1, 2], 
                        'source_type':['Unknown', 'OLX', 'OtoDom']}
dim_source_type = pd.DataFrame(data = dim_source_type_data)

In [14]:
#dim_city
dim_city_data = {'pk_city_id': [-1, 1, 2, 3, 4],
  'city_name': ['Unknown', 'Katowice', 'KrakÃ³w', 'Warszawa', 'WrocÅ‚aw'],
  'voivodeship': ['Unknown', 'ÅšlÄ…skie', 'MaÅ‚opolskie', 'Mazowieckie', 'DolnoÅ›lÄ…skie'],
  'country': ['Unknown', 'Poland', 'Poland', 'Poland', 'Poland']}
dim_city = pd.DataFrame(data = dim_city_data)

In [16]:
#dim_market_type
dim_market_type_data = {'pk_market_type_id':[-1, 1, 2], 
                        'market_type':['Unknown', 'Primary', 'Secondary']}
dim_market_type = pd.DataFrame(data = dim_market_type_data)

In [30]:
#dim_offer_characteristics
garage_data = ['Unknown', 'garage', 'no_garage']
heating_data = ['Unknown', 'urban', 'boiler_room', 'gas', 'electrical', 'other', 'tiled_stove']
lift_data = ['Unknown', 'lift', 'no_lift']
furniture_data =['Unknown', 'furniture', 'no_furniture']

cartesian_product = list(itertools.product(garage_data, heating_data, lift_data, furniture_data))

dim_offer_characteristics = pd.DataFrame(cartesian_product, columns=['car_garage', 'heating', 'lift', 'furniture'])
dim_offer_characteristics.insert(0, 'id', range(1, len(dim_offer_characteristics) + 1))